.app {
  background: linear-gradient(
    180deg,
    rgba(62, 53, 47, 0) 0%,
    rgba(62, 53, 47, 0.08) 100%
  );
  width: 100%;
  min-height: 120vh;
  padding: 50px 100px 50px 150px;
}

.app__main {
  display: flex;
  justify-content: space-around;
}

.app__main_formWrapper {
  display: flex;
  align-items: center;
}
